.home-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px) {
    .home-container {
        width: 90%;
        margin-top: 10px;
    }
}
