name: Deploy Media App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}

      - name: Build Docker image
        run: docker build -t media-app-build .

      - name: Add server to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy build folder to server
        run: ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "
          rm -rf /home/syter/Services/media-app &&
          mkdir -p /home/syter/Services/media-app &&

          docker rm -f temp-build || true &&
          docker create --name temp-build media-app-build &&
          docker cp temp-build:/app/dist /home/syter/Services/media-app &&
          docker rm temp-build"
